*.pyc__pycache__db.sqlite3/static.DS_StoreSupprimerait .idea/inspectionProfiles/Supprimerait .idea/misc.xmlSupprimerait .idea/modules.xmlSupprimerait .idea/mySite.imlSupprimerait .idea/workspace.xmlSupprimerait blog/Supprimerait db.sqlite3Supprimerait manage.pySupprimerait mySite/Supprimerait templates/!/templates/blog/post_list.htmlSupprimerait blog/urls.pycSupprimerait blog/views.pyc